.chart {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 3.68rem;
  background-color: rgba(239, 239, 241, 1);
  box-shadow: 0rem 0.25rem 4rem rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 28rem;
  width: 36rem;
}

@media (min-width: 320px) and (max-width: 688px) and (orientation: portrait) {
  .chart {
    margin-top: 0.5rem;
    box-sizing: border-box;
    padding: 0rem 1rem 0.5rem 1rem;
    text-align: start;
    justify-content: center;
    height: auto;
    width: 19.375rem;
  }
}

/*/////////// LANDSCAPE /////////////////////////*/
@media (max-height: 688px) and (orientation: landscape) {
  .chart {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding: 0rem 1rem 0.5rem 1rem;
    text-align: start;
    justify-content: center;
    height: auto;
    width: 19.375rem;
  }
}
