/*/ /////////////// Drop-down-menu ////////////////////////*/
.drop-down-menu-container {
  background-color: #000000;
  opacity: 0.9;
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.search-close-block {
  display: flex;
  justify-content: space-around;
}

.search-btn {
  width: 24.25rem;
  height: 2.5rem;
  margin-left: 47.25rem;
  margin-top: 13.75rem;
  margin-bottom: 10rem;
  background: #ffffff;
  border-radius: 1.62rem;
}

.search-btn img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem 0.62rem 0.5rem 22.12rem;
}

.close-btn {
  margin-top: 6.18rem;
  margin-right: 7.75rem;
  margin-left: 35rem;
}

.close-btn img {
  width: 2rem;
  max-height: auto;
  background-color: rgba(0, 0, 0, 1);
  padding: 1.87rem;
}

.dropDown-menu-block {
  padding-bottom: 26.31rem;
}

.dropDown-menu-block a {
  font-style: normal;
  font-weight: 600;
  font-size: 1.81rem;
  line-height: 2.18rem;
  text-transform: capitalize;
  color: #ffffff;
  padding-left: 53.81rem;
}

.dropDown-menu-block img.icon {
  width: 1.25rem;
  height: auto;
  padding-right: 2rem;
}
