/*//////////////// Full-service-agency section ////////////////////////*/
h2 {
  font-size: 2.44rem;
  font-weight: 700;
}

.colored-text {
  color: rgba(254, 200, 61, 1);
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1.25rem;
}

h5 {
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 300;
}

.full-service-agency-container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 3.2% 9.3% 6.3% 9.7%;
}

.full-service-agency-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  justify-content: center;
  align-content: center;
  padding: 6.15rem 0rem 6.53rem 0rem;
}

.full-service-agency-statistics {
  display: flex;
  flex-direction: column;
  max-width: 45.6875rem;
  justify-content: center;
  align-items: flex-start;
}

.full-service-agency-statistics h5 {
  max-width: 40.18rem;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2.25rem;
  letter-spacing: 0.01rem;
}

.bold-text {
  font-size: 1.87rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  padding-top: 4.31rem;
}

/* .full-service-agency-statistics img {
  width: 100%;
  height: auto;
  max-width: 100%;
  pointer-events: none;
} */

.full-service-agency-globe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44.62rem;
}

.full-service-agency-globe img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 3.68rem;
  filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.25));
  pointer-events: none;
}

.full-service-agency-bench {
  display: flex;
  position: relative;
  height: 27.62rem;
  background-color: rgba(239, 239, 241, 1);
  border-radius: 2.18rem;
}

.full-service-agency-bench-image {
  background-position: bottom left;
  background-image: url("../../assets/images/fullServiceAgency/bench.jpg");
  background-repeat: no-repeat;
  box-shadow: 0rem 0.25rem 4rem rgba(0, 0, 0, 0.1);
  border-radius: 2.18rem;
  box-sizing: border-box;
  width: 96.1875rem;
  height: 27.62rem;
}

.full-service-agency img,
.full-service-agency-bench img,
.full-service-agency-globe img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.full-service-agency-bench-subscribe {
  position: absolute;
  left: 45.31rem;
  box-sizing: border-box;
  max-width: 34.37rem;
  max-height: 26.37rem;
  padding-top: 8.53rem;
  padding-bottom: 8.43rem;
  padding-left: 3.12rem;
  padding-right: 3.25rem;
}

.full-service-agency-bench-subscribeBtn {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(249, 249, 249, 1);
  border-radius: 1.18rem;
  max-width: 28.12rem;
  max-height: 3.62rem;
  margin-top: 1.25rem;
}

.email-btn-input {
  box-sizing: border-box;
  font-size: 1.25rem;
  max-width: 11.43rem;
  height: 2rem;
}

input.email-btn-input {
  font-size: 1rem;
  padding-left: 0.5rem;
  background-color: transparent;
}

.bench-subscribeBtn {
  display: flex;
  width: 7.31rem;
  height: 3.62rem;
  border-radius: 0px 5px 5px 0px;
  background-color: rgba(254, 200, 61, 1);
  font-size: 1rem;
  color: white;
  justify-content: center;
  align-items: center;
  margin-right: 3.81rem;
  cursor: pointer;
}

.bench-subscribeBtn:hover {
  background-color: rgba(200, 75, 4, 1);
  color: white;
}
/*/////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 688px) and (orientation: portrait) {
  /* [class*="-container"] {
    max-width: 480px;
  } */
  h2 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
  }

  h5 {
    font-size: 1rem;
    text-align: justify;
  }

  .full-service-agency-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 1% 1% 1% 1%;
  }

  .full-service-agency-columns {
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    justify-content: center;
    align-content: center;
    padding: 1rem 0rem 1rem 0rem;
  }

  .full-service-agency-statistics {
    max-width: 18.75rem;
    align-items: center;
  }

  .full-service-agency-statistics h5 {
    max-width: 300px;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.01rem;
  }

  .bold-text {
    font-size: 1rem;
    padding-top: 1rem;
  }

  .full-service-agency-statistics img {
    width: 50%;
    height: auto;
    max-width: 100%;
    pointer-events: none;
  }

  .full-service-agency-globe {
    padding-top: 1rem;
    width: 19.375rem;
  }

  .full-service-agency-bench {
    height: 18.75rem;
  }

  .full-service-agency-container {
    padding: 0.93% 2.77% 2.88% 2.89%;
  }

  .full-service-agency-bench-image {
    background-position: bottom;
    width: 20rem;
    height: 18.75rem;
  }

  .full-service-agency-bench-subscribe {
    left: 0.5rem;
    max-width: 18.75rem;
    max-height: 21.875rem;
    padding: 0.5rem 0rem;
  }

  .full-service-agency-bench-subscribeBtn {
    max-width: 26rem;
    max-height: 2.62rem;
  }

  .email-btn-input {
    max-width: 8rem;
  }

  .bench-subscribeBtn {
    height: 2.62rem;

    margin-right: 1.81rem;
    cursor: pointer;
  }
}
