/*//////////////// Footer ////////////////////////*/
.logo-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-block img {
  width: 100%;
  height: auto;
  max-width: 100%;
  pointer-events: none;
}

.footer-subscribe {
  font-size: 1.25rem;
  padding-top: 8.8rem;
  font-weight: bold;
}

ul {
  color: rgba(200, 75, 4, 1);
}

.li-title {
  color: rgba(200, 75, 4, 1);
  font-weight: bold;
}

li {
  list-style: none;
  padding-bottom: 1.25rem;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.email-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  max-width: 18rem;
  height: auto;
  padding-top: 1.87rem;
  border-bottom: 0.06rem solid rgb(207, 213, 220);
}

.email-input {
  width: 12rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}

input.email-input {
  font-size: 1rem;
  padding-left: 0.5rem;
  background-color: transparent;
}

.email-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.12rem;
  height: 3.12rem;
  background-color: rgba(254, 200, 61, 1);
  border-radius: 8px 8px 0px 0px;
  font-size: 1.25rem;
  color: rgba(94, 77, 205, 1);
  cursor: pointer;
}

.email-submit-btn:hover {
  background-color: rgba(200, 75, 4, 1);
  color: white;
}

.btn-socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.back-to-top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  width: 3.12rem;
  height: 3.12rem;
  background-color: rgba(254, 200, 61, 1);
  border-radius: 50%;
  font-size: 1.25rem;
  color: rgba(94, 77, 205, 1);
  cursor: pointer;
}

.back-to-top-btn:hover {
  background-color: rgba(200, 75, 4, 1);
  color: white;
}

.socialMedia {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 18.63rem;
}
.socialMedia img {
  padding-left: 2.5rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 28.63%;
  padding: 3.2% 9.3% 6.3% 9.7%;
  gap: 11%;
}
/*/////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 688px) and (orientation: portrait) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.93% 2.77% 2.88% 2.89%;
    gap: 2.5%;
  }

  .services-block {
    display: flex;
    order: 1;
  }

  .about-block {
    display: flex;
    order: 2;
  }

  .logo-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 3;
  }

  .footer-logo {
    width: 60%;
    height: auto;
    max-width: 60%;
    order: 3;
    padding-top: 0.5rem;
  }

  .all-rights {
    order: 4;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }

  .footer-subscribe {
    order: 1;
    padding-top: 1rem;
    font-size: 1rem;
  }

  .email-btn {
    max-width: 17rem;
    padding-top: 0.47rem;
    order: 2;
  }

  .email-input {
    width: 13rem;
    height: 0.5rem;
    padding: 0.5rem;
  }

  .email-submit-btn {
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  li {
    padding-bottom: 0.31rem;
  }

  .btn-socialMedia {
    display: flex;
    flex-direction: row-reverse;
    order: 9;
  }

  .back-to-top-btn {
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  .socialMedia {
    padding-top: 1.5rem;
  }

  .socialMedia img {
    padding-left: 0.63rem;
  }
}

/*/////////// 320px LANDSCAPE /////////////////////////*/
@media (max-height: 688px) and (orientation: landscape) {
  .footer-container {
    padding: 0.93% 2.77% 1.88% 2.89%;
    gap: 2.5%;
  }

  .footer-logo {
    width: 70%;
    height: auto;
    max-width: 70%;
    padding-top: 0.5rem;
  }

  .all-rights {
    font-size: 0.8rem;
  }

  .footer-subscribe {
    padding-top: 1rem;
    font-size: 1rem;
  }

  .email-btn {
    padding-top: 0.47rem;
  }

  li {
    padding-bottom: 0.2rem;
  }

  .socialMedia {
    padding-top: 1.5rem;
  }

  .socialMedia img {
    padding-left: 0.63rem;
  }
}
/*////////////////////////////////////////*/
@media (min-width: 689px) and (max-width: 1560px) {
  .footer-container {
    padding: 1.5%;
    gap: 6%;
  }
}
