/*//////////////// Footer ////////////////////////*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  box-sizing: border-box;
  font-family: Lato;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="-container"] {
  max-width: 118.75rem;
  margin: 0px auto;
}

/*//////////////// What-we-offer section ////////////////////////*/

.what-we-offer-container h2 {
  padding-top: 3.96rem;
  text-align: center;
}

.what-we-offer-block {
  display: flex;
  justify-content: space-around;
}

#whatWeOffer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 98.43rem;
  /* max-width: 1575px; */
  padding-top: 7.78rem;
}

.whatWeOffer-block {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 47.68rem;
  height: 18.56rem;
  padding: 1.25rem 1.25rem 1.68rem;
  margin-bottom: 1.18rem;
  background: #ffffff;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
  border-radius: 1.81rem;
}

.whatWeOffer-block-image {
  background-position: center;
  background-repeat: no-repeat;
  width: 22rem;
  height: 15.62rem;
  filter: drop-shadow(0rem 0.25rem 2.06rem rgba(108, 94, 57, 0.6));
  border-radius: 1.43rem;
  background-size: cover;
}

.whatWeOffer-block-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 21.43rem;
  height: 15.56rem;
}

h3 {
  font-size: 1.63rem;
  font-weight: 400;
  font-weight: 700;
  line-height: 2.37rem;
  letter-spacing: 0.01rem;
  text-align: left;
}

.green-text {
  color: rgba(0, 157, 157, 1);
}
p {
  font-weight: 300;
  line-height: 1.93rem;
  letter-spacing: 0.01rem;
  text-align: left;
}
.whatWeOffer-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 3.37rem;
  width: 14.75rem;
  left: 0rem;
  top: 12.18rem;
  border-radius: 0.62rem;
  padding: 0.5rem 0.5rem 0.5rem 1.75rem;
  background: #ebe9e9;
  border-radius: 0.62rem;
}

/*//////////////// Footer ////////////////////////*/

.logo-block img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.footer-subscribe {
  font-size: 1.25rem;
  padding-top: 8.8rem;
  font-weight: bold;
}

ul {
  color: rgba(200, 75, 4, 1);
}

.li-title {
  color: rgba(200, 75, 4, 1);
  font-weight: bold;
}

li {
  list-style: none;
  padding-bottom: 1.25rem;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.email-btn {
  display: flex;
  justify-content: space-between;
  align-items: end;
  box-sizing: border-box;
  max-width: 18rem;
  height: auto;
  padding-top: 1.87rem;
  border-bottom: 0.06rem solid rgb(207, 213, 220);
}

.email-submit-btn a img {
  width: 100%;
  height: 100%;
  max-width: 85%;
}

.btn-socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.back-to-top-btn a img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.socialMedia {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 18.63rem;
}
.socialMedia img {
  padding-left: 2.5rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 28.63%;
  padding: 3.2% 9.3% 6.3% 9.7%;
  gap: 11%;
}
/*/////////////////////////////////////*/
@media (min-width: 320px) and (max-width: 688px) and (orientation: portrait) {
  [class*="-container"] {
    max-width: 30rem;
  }

  /*  footer  */

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.93% 2.77% 2.88% 2.89%;
    gap: 2.5%;
  }

  .services-block {
    display: flex;
    order: 1;
  }

  .about-block {
    display: flex;
    order: 2;
  }

  .logo-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 3;
  }

  .footer-logo {
    width: 50%;
    height: auto;
    max-width: 50%;
    order: 3;
    padding-top: 0.5rem;
  }

  .all-rights {
    order: 4;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }

  .footer-subscribe {
    order: 1;
    padding-top: 1rem;
    font-size: 1rem;
  }

  .email-btn {
    padding-top: 0.47rem;
    order: 2;
  }

  li {
    padding-bottom: 0.31rem;
  }

  .btn-socialMedia {
    display: flex;
    flex-direction: row-reverse;
    order: 9;
  }

  .socialMedia {
    padding-top: 1.5rem;
  }

  .socialMedia img {
    padding-left: 0.63rem;
  }
}

/*/////////// 320px LANDSCAPE /////////////////////////*/
@media (max-height: 688px) and (orientation: landscape) {
  .footer-container {
    padding: 0.93% 2.77% 1.88% 2.89%;
    gap: 2.5%;
  }

  .footer-logo {
    width: 70%;
    height: auto;
    max-width: 70%;
    padding-top: 0.5rem;
  }

  .all-rights {
    font-size: 0.8rem;
  }

  .footer-subscribe {
    padding-top: 1rem;
    font-size: 1rem;
  }

  .email-btn {
    padding-top: 0.47rem;
  }

  li {
    padding-bottom: 0.2rem;
  }

  .socialMedia {
    padding-top: 1.5rem;
  }

  .socialMedia img {
    padding-left: 0.63rem;
  }
}
